useDynLib(canalization, .registration=TRUE)
import(ggplot2, data.table)
importFrom("Rcpp", "evalCpp", "loadModule")
importFrom("mcgraph", "mcg.autonames")
importFrom("Hmisc", "Merge")
importFrom("nlme", "Variogram")
importFrom("methods", "getPackageName")
importFrom("stats", "spline")
#importFrom("data.table", "data.table", "fread", "setnames", ".SD", ".N", ":=", "copy", "setkey", "merge.data.table", "setDT", "between")
importFrom("stats", "dist", "fitted", "predict", "resid", "rnorm", "sd", "qnorm", "approx", "na.omit", "IQR", "quantile")
exportPattern("^[[:alpha:]]+")
