useDynLib(canalization, .registration=TRUE)
import(ggplot2, data.table)
importFrom("Rcpp", "evalCpp", "loadModule")
importFrom("mcgraph", "mcg.autonames")
importFrom("Hmisc", "Merge")
importFrom("nlme", "Variogram")
importFrom("methods", "getPackageName")
importFrom("stats", "spline", "dist", "fitted", "predict", "resid", "rnorm", "sd", "pnorm", "qnorm", "approx", "na.omit", "IQR", "quantile")
exportPattern("^[[:alpha:]]+")
